<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Home Page</Name>
    <Alias>HomePage</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>ContentPage</Master>
    <Compositions>
      <Composition>ContentPage</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>HomePage</Template>
    </AllowedTemplates>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>NewsListing</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
  <Hash>76a95c46ed9a67535bce74cd4ebd9c01</Hash>
</DocumentType>