<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>News Listing</Name>
  <Alias>NewsListing</Alias>
  <Design><![CDATA[?@inherits DocumentTemplate<NewsListing>
@Document.MainContent
<ul>
    @{
        var articles = Document.Children.As<NewsArticle>();
        foreach (var article in articles)
        {
            <li>@article.Title - <a href="@article.Url">read more</a></li>
        }
    }
</ul>]]></Design>
  <Hash>83ebf545b3e9a91106991b10d8a8de91</Hash>
</Template>