<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>News Listing</Name>
    <Alias>NewsListing</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Master>ContentPage</Master>
    <Compositions>
      <Composition>ContentPage</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>NewsListing</Template>
    </AllowedTemplates>
    <DefaultTemplate>NewsListing</DefaultTemplate>
    <Container>True</Container>
  </Info>
  <Structure>
    <DocumentType>NewsArticle</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
  <Hash>2ada49c36dc897c66f27245efc3c681b</Hash>
</DocumentType>